#kontener
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 800px;
	margin: 0 auto;
	border: 1px solid black;
	text-align:center;
	padding:5px;
}

#ustawienia
{
	display: flex;
	flex-direction: row;
	padding:5px;
}

#ustawienia p
{
	padding-left:5px;
}

#poleGry
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border: 1px solid black;
	min-height:500px;
}

#czas
{
	margin-top:-10px;
	margin-left:10px;
	margin-right:10px;
}

#start_stop, #pokaz_wyniki
{
	height: 50px;
	width: 100px;
	margin-top: 10px;
	margin-left:10px;
	margin-right:10px;
}

.tabela, th, td
{
	border: 1px solid black;
	border-collapse: collapse;
}

.tabela td, th
{
	padding: 5px;
}


.pojemniczek
{
	width: 250px;
	height: 250px;
	margin: 5px;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items:center;
}

.pojemniczek:hover
{
	background-color:#888;
}

.ukryte
{
	width: 250px;
	height: 250px;
	visibility: hidden;
}

.memor
{
	width: 100%;
	height: 100%;
}

.form
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.form p
{
	margin: 4px;
}